// Own variables
$subtitle: 2rem;

$primary: #F66C15;
$secondary: #30A091;
$secondary-opt: #5C1C96;
$tertiary-custom: #A5ADAB;
$ligth: #FFDA96;
$ligth-opt: #EAE5DE;
$dark: #322A28;

$bg-all: #FFDA96;
// opt: FFE4BC
// $bg-all: #FFE3BA;
$bg-even: #FFDFA4;
$bg-nav: $bg-all;
$bg-footer: $bg-all;

$gradient-1: #FBAA21;
$gradient-2: #F98822;
$gradient: linear-gradient(to right, $gradient-1, $gradient-2, $primary);



// custom variables
    // Headings
// $h1-font-size: 5rem;
$h2-font-size: 4.5rem;
$h3-font-size: 2.5rem;

$headings-font-family: 'Berlin Sans FB', sans-serif;


// import functions & variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

// custom themes
$custom-theme-colors: (
    "modern": #c0591d,
    "vintage": #1d1d1d
);

// merge themes
$theme-colors: map-merge($custom-theme-colors, $theme-colors);


// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// CSS code

// Fonts
body {
    font-family: 'Inter', sans-serif;
}
header{
    background-color: $bg-nav;
}
footer{
    background-color: $bg-footer;
}
html{
    background-color: $bg-footer;
}

// Sections background 
main > :nth-child(even){
    background-color: $bg-even !important;
}
main{
    background-color: $bg-all;
}

// Navbar
.navbar-nav {
    .nav-link {
        transition: color 0.3s;

        &:hover {
            color: $primary;
        }

        &.active {
        color: $primary;
        font-weight: bold;
        }
    }
}
.logo {
    width: 80px;
    height: auto;
    margin-right: 15px;
}
.logo-nav {
    width: 90px;
    height: auto;
    margin-right: 15px;
    margin-left: 1rem;
}
a.navbar-brand {
    font-size: 25px;
    // TODO soll shrinken 
}
nav {
    font-size: 20px;
}
.nav-item{
    padding-left: 1rem;
}
.rounded {
    border-radius: $border-radius-2xl !important;
}
.margin-section {
    margin-bottom: 7rem;
}
@include media-breakpoint-down(sm) {
    .margin-section {
        margin-bottom: 3rem;
    }
}
// Hero
.hero{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    // background-image: url(source/wall.png);
    // padding: 0;
}
.hero-title{
    width: 480px;
    align-self: center;
}
.heros{
    max-width: 1200px;
}
.heros-1,
.heros-2
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: flex-start;
    gap: 1.5rem;
}
.heros-2{
    align-items: flex-end;
}
.heros-1 > div,
.heros-2 > div {
    box-sizing: border-box;
    height: auto;
    border-radius: 8px;
    border: 10px solid #FF9400;
}
.heros-1 > :nth-child(even),
.heros-2 > :nth-child(2n-1){
    rotate: 2deg;
}
.heros-1 > :nth-child(2n-1),
.heros-2 > :nth-child(even){
    rotate: -2deg;
}
@include media-breakpoint-down(xl) {
    .btn-lg{
        padding: .375rem .75rem;
        font-size: $font-size-sm;
    }
}
// Responsive Button
@include media-breakpoint-down(md) {
    .btn-lg{
        padding: .375rem .75rem;
        font-size: $font-size-sm;
    }
}
.img-hero {
    width: 100%;
    height: auto;
    // height: 673px !important;
    // width: auto !important;
    border-radius: 0;
}

// XXL
@include media-breakpoint-down(xxl) {
    .hero-4,
    .hero-9{
        display: none;
    }
}
// XL
@include media-breakpoint-down(xl) {
    .hero-3,
    .hero-8,
    .hero-7{
        display: none;
    }
    .heros-1{
        margin-bottom: 1rem;
    }
}
// LG
@include media-breakpoint-down(md) {
    .hero{
        flex-direction: column;
        max-width: 550px;
        gap: 2rem;
    }

}

// Über Uns
.wir{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0rem 3rem 0rem 7rem;
    gap: 1rem;
}
.wir-item-1{
    max-width: 50rem;
    flex: 5 1 40rem;
}
.wir-item-2{
    max-width: 40rem;
    margin: 2rem 4rem;
    flex: 1 1 25rem;
}
@include media-breakpoint-down(xxl) {
    .wir{
        flex-direction: column;
        padding: 0 1.5rem;
    }
    .wir-item-1{
        flex-basis: 0;
    }
    .wir-item-2{
        margin: 0;
        flex-basis: 0;
        padding: 0 2rem;
    }
}
@include media-breakpoint-down(md) {
    .wir{
        padding: 0 0.5rem;
    }
}
@include media-breakpoint-down(sm) {
    .wir{
        padding: 0;
    }
    .wir-item-1{
        flex-basis: 0;
    }
    .wir-item-2{
        padding: 0 1.5rem;
    }
}


// Was uns ausmacht
.collage{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}
.collage-section-1,
.collage-section-2{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    flex: 1;
    max-width: 90%;
}

// Icon gradient
.collage-item-1 > i,
.collage-item-4 > i,
.icon-gradient {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Füllt den Text mit dem Verlauf aus */
}
.collage-item-3,
.collage-item-6{
    width: 90%;
    align-self: center;
}

.collage-item-2,
.collage-item-5{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.collage-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@include media-breakpoint-down(xl) {
    .collage-item-3,
    .collage-item-6{
        width: 90%;
    }

    .collage-item-2,
    .collage-item-5{
        max-width: 33rem;
    }
}

@include media-breakpoint-up(xl){
    .collage{
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        padding: 0 4rem;
        gap: 5rem;
        max-width: 87rem;
    }
    .collage-item-2{
        max-width: 29rem;
    }
    .collage-item-5{
        max-width: 33rem;
    }
}

// Mitglieder Carousel
.mitglieder{
    display: flex;
    justify-content: center;
}
.carousel-item{
    img{
        object-fit: cover;
    }
}
.caption > h5,
.caption > p{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.caption > p{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 15px;
}
.carousel-container{
    max-width: 67rem;
    padding: 0 3rem;
}
@include media-breakpoint-down(md) {
    .carousel-container{
        padding: 0 1rem;
    }
}
@include media-breakpoint-down(sm) {
    .carousel-container{
        padding: 0;
    }
}




// Termine
.termine{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem;
    gap: 1rem;
}
.card{
    min-width: 10rem;
    max-width: 20rem;
    flex: 1;
}
.termine-title{
    display: inline;
}



a[class~="card"]{
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
}
a[class~="card"]:hover{ 
    scale: 1.01;
    box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: black;
}
@include media-breakpoint-down(md) {
    .termine{
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .card{
        flex: 1;
        max-width: 27rem;
        width: 100%;
    }
}

.link-none {
    text-decoration: none;
    color: black;
}
.link-none:hover {
    color: black !important;
}

.text-hover-white:hover{
    color: white;
}

// Footer
.icon {
    font-size: 2rem;
}
.footer {
    padding-left: 1rem;
    padding-right: 1rem;

}


// Sections padding
main > div{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
main > :last-child{
    padding-bottom: 24px;
}
.footer{
    margin-top: 0 !important;
}

// Social Meida
.logo-social{
    width: 200px;
    height: auto;
}